
@import 'basscss-base';
@import 'basscss-utilities';
@import 'basscss-positions';
@import 'basscss-ui-utilities';
@import 'basscss-grid';
@import 'basscss-table-object';
@import 'basscss-color-basic';

/* Custom styles on top of and overriding Basscss */

/* set custom media queries */
@custom-media --breakpoint-sm (min-width: 32em);
@custom-media --breakpoint-md (min-width: 48em);
@custom-media --breakpoint-lg (min-width: 64em);

:root {
  --container-width: 58rem;
  --red: #EB0012;
  --blue-lightened: rgba(#0076df, .7);
}

.terrorist {
  width: 200px;
}
@media (--breakpoint-md) {
  .terrorist {
    width: 250px;
  }
}
@media (--breakpoint-lg) {
  .terrorist {
    width: 300px;
  }
}

.avenir {
  font-family: Avenir;
}

.serif {
  font-family: "Source Serif Pro", Georgia, Garamond, serif;
}

/* to be used for my own future project */
.jumbo-1 { font-size: 3.5rem; }
.jumbo-2 { font-size: 4rem; }
.jumbo-3 { font-size: 4.5rem; }
.jumbo-4 { font-size: 5rem; }


.h0 {
  font-size: 3.5rem;
}
@media (--breakpoint-md) {
  .h0 {
    font-size: 4rem;
  }
}
@media (--breakpoint-lg) {
  .h0 {
    font-size: 5rem;
  }
}

.border-thick-red {
  border-top-style: solid;
  border-width: var(--space-1);
  border-color: var(--red);
}

/* Base */
html {
  font-size: 16px;
}

@media (--breakpoint-md) {
  html {
    font-size: 18px;
  }
}

@media (--breakpoint-lg) {
  html {
    font-size: 20px;
  }
}

body {
  color: var(--dark-gray);
}

.p0 { padding: 0; }
.m0 { margin: 0; }

p:last-child, dl:last-child, ol:last-child, ul:last-child {
  margin-bottom: 0;
}


/* COLORS */

.blue-lightened {
  color: var(--blue-lightened);
}

::selection {
  color: var(--blue-lightened);
}

@media (--breakpoint-lg) {
  .display-column-2 { 
    column-count: 2;
    column-gap: var(--space-3);
    widows: 3;
  }
  .display-column-3 {
    column-count: 3;
    column-gap: var(--space-3);
  }
}

/* Borders */
.border-top-dark-2 {
  border-top-style: solid;
  border-top-width: .5rem;
  border-top-color: var(--dark-gray);
}

.border-bottom-dark-2 {
  border-bottom-style: solid;
  border-bottom-width: .5rem;
  border-bottom-color: var(--dark-gray);
}

.break-word {
  word-wrap: break-word;
  overflow-wrap: break-word;
}